<div class="row">
  <div class="col-12">
    <div class="filter-buttons">
      <button [ngClass]="{'active': (activeCategory === 'all')}" (click)="setActiveCategory('all')">{{ "all" | translate}}</button>
      <button [ngClass]="{'active': (activeCategory === 'projects')}" (click)="setActiveCategory('projects')">{{ "projects" | translate}}</button>
      <button [ngClass]="{'active': (activeCategory === 'crowdfunding')}" (click)="setActiveCategory('crowdfunding')">{{ "crowdfunding" | translate}}</button>
    </div>
  </div>
  @for (item of projectsList; track item) {
    <div class="col-12 col-lg-6 col-md-6 col-xl-4 pb-4"
    [ngClass]="{'d-none': (activeCategory !== 'all' && ((item.type_id == 2 && activeCategory != 'projects') || (item.type_id == 3 && activeCategory != 'crowdfunding')))}"
    >
      <app-project-list-item ngskiphydration [project]="item"/>
    </div>
  }
</div>