<div class="forget-password-container mb-5 mt-3">
  <h1 class="title text-center mb-4">{{ "create new password" | translate }}</h1>
    <div class="alert alert-danger mt-3 mb-3" *ngIf="error_message">
        {{ error_message }}
    </div>
  <app-basic-input 
    [inputAttr]="{ id: 'password', name: 'password', label: 'password', placeholder: 'enter your password', isRequired: true, icon: 'eye'}"
    [value]="resetPasswordForm.password.value"
    [errorMsg]="resetPasswordForm.password.errorMsg"
    inputType="password"
    (valueChanged)="resetPasswordForm.password.value = $event"
    (errorChanged)="passwordErrorHandler($event)"
  />

  <app-basic-input 
  [inputAttr]="{ id: 'confirm-password', name: 'confirm-password', label: 'confirm password', placeholder: 'enter your password', isRequired: true, icon: 'eye'}"
    [value]="resetPasswordForm.confirmPassword.value"
    [errorMsg]="resetPasswordForm.confirmPassword.errorMsg"
    inputType="password"
    (valueChanged)="resetPasswordForm.confirmPassword.value = $event"
    (errorChanged)="confirmPasswordHandler($event)"
  />

  <button 
    class="send-btn w-100 text-center"
    [disabled]="!resetPasswordForm.isPasswordMatch || isLoading"
    (click)="submitReset()"
  >
      <img src="/app/assets/images/shared/loading.gif" alt="loading" [ngClass]="{'d-none': !isLoading}" style="width:25px;"/>
    {{ "save" | translate }}
  </button>
</div>


<app-modal [title]="'password changed successfully' | translate " [show]="show_changed_successful" (valueEmitted)="closePopup($event)">
    <p>{{ "you have successfully changed your password" | translate }}</p>
    <p>{{ "please log in with your new password to access your account" | translate }}</p>
</app-modal>