<div class="how-it-works-container">
  <div class="tg-section-header">
    <h2 class="tg-section-title">{{ "how your support works" | translate }}</h2>
    <p class="tg-section-subtitle">{{ "meaningful steps to lasting change" | translate }}</p>
    <div class="tg-title-decoration"><span></span></div>
  </div>

  <p class="text-center fw-bold helper-line">{{ "discover more about together for intermediation services llc (together for development)" | translate }}, <a [routerLink]="aboutUsRoutes[storageService.siteLanguage$.value]">{{ "click here" | translate }}</a></p>
  <p class="section-desc text-center">{{ "every delegation to our sustainable development projects follows these key steps:" | translate }}</p>

  <div class="how-it-works-steps">
    <div class="item">
      <div class="how-it-works-step-item">
        <div class="item-content">
          <span class="step-number">1</span>
          <mat-icon svgIcon="how-it-works-1"></mat-icon>
        </div>
        <p class="item-content-text">{{ "choose a project" | translate }}</p>
      </div>

      <mat-icon svgIcon="how-it-works-line" class="line"></mat-icon>

      <div class="how-it-works-step-item">
        <div class="item-content">
          <span class="step-number">2</span>
          <mat-icon svgIcon="how-it-works-2"></mat-icon>
        </div>
        <p class="item-content-text">{{ "make a delegation" | translate }}</p>
      </div>
    </div>

    <mat-icon svgIcon="how-it-works-line" class="line d-none d-md-block"></mat-icon>

    <div class="item">
      <div class="how-it-works-step-item">
        <div class="item-content">
          <span class="step-number">3</span>
          <mat-icon svgIcon="how-it-works-3"></mat-icon>
        </div>
        <p class="item-content-text">{{ "project execution" | translate }}</p>
      </div>

      <mat-icon svgIcon="how-it-works-line" class="line"></mat-icon>

      <div class="how-it-works-step-item">
        <div class="item-content">
          <span class="step-number">4</span>
          <mat-icon svgIcon="how-it-works-4"></mat-icon>
        </div>
        <p class="item-content-text">{{ "receive a detailed report" | translate }}</p>
      </div>

    </div>
  </div>
</div>
