<div class="social-media-sticky d-none d-md-flex flex-column align-items-center">
  <a href="https://www.facebook.com/share/h4FZ2p8TsLWE2vKy/?mibextid=LQQJ4d" target="_blank"><img alt="facebook" src="/app/assets/images/shared/facebook.svg"></a>
  <a href="https://x.com/Tog4Dev?t=YxqzngaJv1WOAeS1241qMw&s=09" target="_blank"><img alt="twitter / X" src="/app/assets/images/shared/x.svg"></a>
  <a href="https://www.instagram.com/tog4dev/profilecard/?igsh=MmEyNnFhZDR2cDY4" target="_blank"><img alt="instagram" src="/app/assets/images/shared/instagram.svg"></a>
  <a href="https://snapchat.com/t/kwXP9FSM" target="_blank"><img alt="snapchat" src="/app/assets/images/shared/snapchat.svg"></a>
</div>