<div class="home-slider" *ngIf="homeSlider.length > 0">
    <app-home-slider [homeSlider]="homeSlider" [quickContribution]="quickContribution" />
</div>

<div class="container project-list" *ngIf="projectsList.length > 0">
  <app-projects-list-with-filter [projectsList]="projectsList" />
</div>

<div class="how-it-work-home">
    <app-how-it-works />
</div>

<div class="why-together-home" *ngIf="testimonialsList.length > 0">
    <app-testimonials [testimonialsList]="testimonialsList"/>
</div>

<div class="our-partners-home" id="our-partners" *ngIf="partnersList.length > 0">
    <app-our-partners [partnersList]="partnersList"/>
</div>

<div *ngIf="storiesList.length > 0">
    <app-our-stories [storiesList]="storiesList" />
</div>

<div class="modals">
    <app-modal [title]="'request a collection team' | translate " [show]="show_collection_popup" (valueEmitted)="closePopup($event)">
        <p>{{ "thank you for choosing to make your delegation through our collection team." | translate }}</p>
        <p>{{ "your generosity makes a difference, and our team will contact you soon to confirm the details and arrange a site visit." | translate}}</p>
        <p>{{ "if you have any questions, we are always here to assist you. contact us at +962779400900" | translate }}</p>
    </app-modal>
    <app-modal [title]="'thank you for your valued delegation.' | translate " [show]="show_success_payment" (valueEmitted)="closePopup($event)">
        <p class="mb-0">{{ "your delegation has been successfully completed. together, we deliver impactful results." | translate}}</p>
    </app-modal>
</div>