<div class="project-slider position-relative {{ storageService.siteLanguage$.value }}">
  <div class="control-icon next-icon">
    <img src="/app/assets/images/shared/arrow.svg" alt="arrow"/>
  </div>
  <div class="control-icon previous-icon">
    <img src="/app/assets/images/shared/arrow.svg" alt="arrow" />
  </div>

  <div class="swiper" #swiperContainer>
    <div class="swiper-wrapper">
        @for (item of data; track item) {
        <div class="swiper-slide position-relative">
          <div class="slide-img">
            <img class="w-100 image" src="{{ item }}" alt="slider">
          </div>
        </div>
        }
    </div>
  </div>
</div>