<div class="container">
    <div class="row mb-5 justify-content-center">
        <div class="col-12">
            @if(storageService.siteLanguage$.value == "ar"){
                <section id="price-section">
                    <div class="container">
                        <div class="row justify-content-center gapsectionsecond">
                            <div class="col-lg-7 text-center">
                                <div class="title-big pb-3 mb-3">
                                    <h2>عالم المنظمات</h2>
                                </div>
                            </div>
                            <div class="col-12">
                                <app-ngoverse-slider />
                            </div>
                            <div class="col-lg-7 text-center">
                                <p class="description-p pe-0 pe-lg-0">
                                    اختر الخطة المناسبة لنمو منظمتك<br>
                                    نمكّن المنظمات غير الربحية من تطوير عملياتها، وتعزيز تواصلها مع العملاء، وتوسيع أثرها من خلال حلول رقمية ذكية.<br>
                                    استكشف خططنا المرنة المصممة لتلبية احتياجات منظمتك، سواء كنت تسعى لإطلاق حضورك الرقمي، أو إدارة الموارد المالية، أو إدارة العمليات المالية الكاملة.<br>                                </p>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-lg-4 pb-5 pb-lg-0">
                                <div class="wrap-price">
                                    <div class="price-innerdetail text-center">
                                        <h5 class="primary-color">🥈 الخطة الفضية 🥈</h5>
                                        <p class="prices" style="font-weight:bold">100 دولار شهرياً أو 1000 دولار سنوياً</p>
                                        <p>الأفضل للمنظمات غير الربحية التي ترغب في اطلاق موقعها الإلكتروني.</p>
                                        <ul class="text-end custom-bullets ar">
                                            <li class="detail-pricing">
                                                <span>موقع إخباري ديناميكي</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>تحصيل العمليات المالية عبر الإنترنت</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>دمج كامل مع بوابات الدفع الإلكتروني</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>لوحة تحكم ذكية للإدارة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>إدارة وتحديث المحتوى بسهولة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>تجربة مستخدم وتصميم واجهة احترافي</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>تصميم موقع متجاوب مع جميع الأجهزة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>إمكانية تحديث الأخبار بسرعة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>جاهز للتكامل مع أنظمة الـ ERP</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>إصدار العقود والفواتير بشكل آلي</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>خدمة "هدية الخير"</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>دعم العملات المتعددة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>دعم تعدد اللغات</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>وحدة تقارير إدارية</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>دعم فني عبر الإنترنت وفقاً لاتفاقية مستوى الخدمة (SLA) النهائية</span>
                                            </li>
                                        </ul>   
                                        <small class="text-muted text-end d-block">ملاحظة: لا تشمل الخطة تصميم مخصص للواجهة، إدارة النطاق، الاستضافة، إدارة النسخ الاحتياطي أو التكامل مع أنظمة أخرى.</small>
                                        <div class="mt-3 d-flex flex-column align-items-center d-none">
                                            <button class="button-secondary my-2 w-150 border-radius-28">$100/{{ 'monthly' | translate }} </button>
                                            <button class="button-secondary my-2 w-150 border-radius-28">$1000/{{ 'yearly' | translate }} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 pb-5 pb-lg-0">
                                <div class="wrap-price">
                                    <div class="price-innerdetail text-center">
                                        <h5 class="primary-color">🥇 الخطة الذهبية 🥇</h5>
                                        <p class="prices" style="font-weight:bold">150 دولاراً شهرياً أو 1500 دولار سنوياً</p>
                                        <p>مثالية للمنظمات غير الربحية التي تحتاج إلى إدارة كاملة للعمليات والعملاء.</p>
                                        <ul class="text-end custom-bullets ar">
                                            <li class="detail-pricing">
                                                <span>نظام ERP مالي مصمم خصيصاً للمنظمات غير الربحية</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>وحدة محاسبية متقدمة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>نظام CRM لإدارة العملاء</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>نظام إدارة المخزون</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>تكامل مع الموقع الإلكتروني وبوابة الدفع</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>إصدار الفواتير والعقود والإيصالات بشكل آلي</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>قوالب تواصل قابلة للتخصيص مع العملاء</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>مبني على منصة اودو</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>يشمل 3 تراخيص مستخدمين</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>لوحات تحكم وتقارير مالية لحظية</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>دعم فني عبر الإنترنت وفقاً لاتفاقية مستوى الخدمة (SLA) النهائية</span>
                                            </li>
                                        </ul>
                                        <small class="text-muted text-end d-block">ملاحظة: لا تشمل الخطة تصميم واجهة مخصصة، إدارة النطاق، أو الاستضافة، أو إدارة النسخ الاحتياطي، أو التكامل مع أنظمة أخرى.</small>
                                        <div class="mt-3 d-flex flex-column align-items-center d-none">
                                            <button class="button-secondary my-2 w-150 border-radius-28">$150/{{ 'monthly' | translate }} </button>
                                            <button class="button-secondary my-2 w-150 border-radius-28">$1500/{{ 'yearly' | translate }} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 pb-5 pb-lg-0">
                                <div class="wrap-price">
                                    <div class="price-innerdetail text-center">
                                        <h5 class="primary-color">🏆 الخطة البلاتينية 🏆</h5>
                                        <p class="prices" style="font-weight:bold">225 دولاراً شهرياً أو 2250 دولاراً سنوياً</p>
                                        <p>الحل الأمثل حيث يجمع بين الخطة الفضية والخطة الذهبية لتحقيق نمو شامل.</p>
                                        <ul class="text-end custom-bullets ar">
                                            <li class="detail-pricing">
                                                <span>كل ما هو متوفر في الخطة الفضية</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>كل ما هو متوفر في الخطة الذهبية</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>دعم فني ذو أولوية (استجابات أسرع) وفقاً لاتفاقية مستوى الخدمة (SLA)</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>تقارير وتحليلات متقدمة ومتكاملة</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>عدد غير محدود من المشاريع والحملات الإلكترونية</span>
                                            </li>
                                        </ul>
                                        <small class="text-muted text-end d-block">ملاحظة: لا تشمل الخطة تصميم واجهة مخصصة، إدارة النطاق، الاستضافة، إدارة النسخ الاحتياطي، أو التكامل مع أنظمة أخرى.</small>
                                        <div class="mt-3 d-flex flex-column align-items-center d-none">
                                            <button class="button-secondary my-2 w-150 border-radius-28">$225/{{ 'monthly' | translate }} </button>
                                            <button class="button-secondary my-2 w-150 border-radius-28">$2250/{{ 'yearly' | translate }} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            @else{
                <section id="price-section">
                    <div class="container">
                        <div class="row justify-content-center gapsectionsecond">
                            <div class="col-lg-7 text-center">
                                <div class="title-big pb-3 mb-3">
                                    <h2>NGOverse</h2>
                                </div>
                            </div>
                            <div class="col-12">
                                <app-ngoverse-slider />
                            </div>
                            <div class="col-lg-7 text-center">
                                <p class="description-p pe-0 pe-lg-0">
                                    Choose the Right Plan for Your NGO’s Growth<br>
                    We empower NGOs to streamline their operations, connect with clients, and scale their impact through smart digital solutions.<br>
                    Explore our flexible plans designed to meet your organization's needs whether you’re building your online presence, Financial Resource Management, or running full financial operations.<br>
                                </p>
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-lg-4 pb-5 pb-lg-0">
                                <div class="wrap-price">
                                    <div class="price-innerdetail text-center">
                                        <h5 class="primary-color">🥈 Silver Plan 🥈</h5>
                                        <p class="prices" style="font-weight:bold">$100/month or $1,000/year</p>
                                        <p>Best for NGOs looking to launch and manage their online presence.</p>
                                        <ul class="text-start custom-bullets">
                                            <li class="detail-pricing">
                                                <span>Dynamic News Website</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Online Clients Collection</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Full Payment Gateway Integration</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Smart Admin Dashboard</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Easy content managements & updates</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Professional UX/UI</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Responsive Website Design</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Fast News Updates capability</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Ready For ERP Integration</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Automated Invoice & Contract issuing</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>"Gift of Goodness" Service</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Multi-Currency Support</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Multilingual Support</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Reporting consul</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Online support according to the final contract SLAs</span>
                                            </li>
                                        </ul>   
                                        <small class="text-muted text-start d-block">Notice: UX/UI self theme, domain Managment, Hosting, Backup Managment & Integration with other systems are excluded.</small>
                                        <div class="mt-3 d-flex flex-column align-items-center d-none">
                                            <button class="button-secondary my-2 w-150 border-radius-28">$100/{{ 'monthly' | translate }} </button>
                                            <button class="button-secondary my-2 w-150 border-radius-28">$1,000/{{ 'yearly' | translate }} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 pb-5 pb-lg-0">
                                <div class="wrap-price">
                                    <div class="price-innerdetail text-center">
                                        <h5 class="primary-color">🥇 Gold Plan 🥇</h5>
                                        <p class="prices" style="font-weight:bold">$150/month or $1,500/year</p>
                                        <p>Perfect for NGOs that need full operational and Financial Resource Management.</p>
                                        <ul class="text-start custom-bullets">
                                            <li class="detail-pricing">
                                                <span>Financial ERP System tailored for NGOs</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Advanced Accounting Module</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>CRM for Client Management</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Inventory Management System</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Website and Payment Gateway Integration</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Automated Invoicing, Contract Management, and Receipt Issuance</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Customizable Client Communication Templates</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Built on Odoo platform</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Includes 3 User Licenses</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Real-time Financial Dashboards and Reports</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Online support according to the final contract SLAs</span>
                                            </li>
                                        </ul>
                                        <small class="text-muted text-start d-block">Notice: UX/UI self theme, Domain Managment, Hosting, Backup Managment & Integration with other systems are excluded.</small>
                                        <div class="mt-3 d-flex flex-column align-items-center d-none">
                                            <button class="button-secondary my-2 w-150 border-radius-28">$150/{{ 'monthly' | translate }} </button>
                                            <button class="button-secondary my-2 w-150 border-radius-28">$1,500/{{ 'yearly' | translate }} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 pb-5 pb-lg-0">
                                <div class="wrap-price">
                                    <div class="price-innerdetail text-center">
                                        <h5 class="primary-color">🏆 Platinum Plan 🏆   </h5>
                                        <p class="prices" style="font-weight:bold">$225/month or $2,250/year</p>
                                        <p>The ultimate solution combining Silver and Gold plans for full-scale growth.</p>
                                        <ul class="text-start custom-bullets">
                                            <li class="detail-pricing">
                                                <span>Everything in the Silver Plan</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Everything in the Gold Plan</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Priority Support (faster response times) according to the SLA</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Advanced integrated reporting and Insights</span>
                                            </li>
                                            <li class="detail-pricing">
                                                <span>Unlimited Website Projects and Campaigns</span>
                                            </li>
                                        </ul>

                                        <small class="text-muted text-start d-block">Notice: UX/UI self theme, domain Managment, Hosting, Backup Managment & Integration with other systems are excluded.</small>
                                        <div class="mt-3 d-flex flex-column align-items-center d-none">
                                            <button class="button-secondary my-2 w-150 border-radius-28">$225/{{ 'monthly' | translate }} </button>
                                            <button class="button-secondary my-2 w-150 border-radius-28">$2,250/{{ 'yearly' | translate }} </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }

        </div>

        <div class="col-md-8 mt-5">
            <p class="form-title text-center mb-4"> {{ "embrace the future of digital transformation with smart, innovative solutions." | translate }}<br>{{ "book your package now by filling out the form below" | translate }}.</p>
            <app-contact-us-form [type]="3"/>
        </div>
    </div>
</div>