<div class="our-partners">
    <h2 class="section-title">{{ "our partners" | translate }}</h2>
    <div class="wrapper">
        <div class="sliding-background">
            <ul>
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
            </ul>
        </div>

        <div class="sliding-background">
            <ul>
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
            </ul>
        </div>
    </div>
</div>