<div class="our-partners">
    <div class="tg-section-header">
      <h2 class="tg-section-title">{{ "our partners" | translate }}</h2>
      <p class="tg-section-subtitle">{{ "trusted partners powering our impact" | translate }}</p>
      <div class="tg-title-decoration"><span></span></div>
    </div>
    <div class="wrapper">
        <div class="sliding-background">
            <ul>
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
            </ul>
        </div>

        <div class="sliding-background">
            <ul>
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
                @for (item of partnersList; track item) {
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </li>
                }
            </ul>
        </div>
    </div>
</div>