<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4 mt-5">{{ "privacy policy" | translate }}</h1>
            @if(storageService.siteLanguage$.value == "ar"){
                <p>تاريخ آخر تحديث: <strong>15/12/2024</strong></p>

                <p>شكرًا لاختياركم شركة معاً للوساطة التجارية ذ.م.م (معاً للتنمية). نحن في 
                     نهتم بخصوصية معلوماتك ونحن ملتزمون بحمايتها. يُرجى قراءة سياسة الخصوصية هذه بعناية لفهم كيفية جمع واستخدام وحماية المعلومات التي تقدمها لنا عند استخدام موقعنا.
                    </p>

                <div class="section-title">1. المعلومات التي نقوم بجمعها:</div>
                <p>نقوم بجمع معلومات شخصية منك عندما تسجل عضوية لدينا أو تقوم بإجراء عملية شراء. تشمل هذه المعلومات الاسم، العنوان، عنوان البريد الإلكتروني، رقم الهاتف، ومعلومات الدفع.</p>

                <div class="section-title">2. كيفية استخدام المعلومات:</div>
                <p>نحن نستخدم المعلومات التي نجمعها لتسهيل تقديم الخدمات التي تطلبها منا، مثل معالجة الطلبات وتقديم الدعم الفني. قد نستخدم أيضًا معلوماتك لتحسين خدماتنا وتخصيص تجربتك على الموقع.</p>

                <div class="section-title">3. مشاركة المعلومات مع أطراف ثالثة:</div>
                <p>نحن لا نبيع أو نتاجر بمعلومات عملائنا إلى أطراف ثالثة. ومع ذلك، قد نشارك بعض المعلومات مع الشركاء الذين يساعدوننا في تشغيل موقعنا أو تقديم الخدمات لك، مثل مزودي خدمات الدفع أو الشحن أو التنفيذ.</p>

                <div class="section-title">4. الحفاظ على الأمان:</div>
                <p>نحن نتخذ إجراءات أمان مناسبة لحماية معلوماتك الشخصية من الوصول غير المصرح به أو الاستخدام أو التغيير أو الإفشاء.</p>

                <div class="section-title">5. الاتصال بنا:</div>
                <p>إذا كان لديك أي أسئلة حول سياسة الخصوصية الخاصة بنا أو كيفية معالجة معلوماتك الشخصية، يُرجى التواصل معنا عبر الرقم:</p>
                <div class="contact-info">+962 779 400 900</div>

                <div class="section-title">6. التغييرات في سياسة الخصوصية:</div>
                <p>نحتفظ بحق تحديث أو تغيير سياسة الخصوصية هذه في أي وقت. يجب عليك مراجعة هذه الصفحة بانتظام لمعرفة أحدث المعلومات حول ممارساتنا في الخصوصية.</p>

                <p>باستخدام موقعنا، فإنك توافق على سياسة الخصوصية هذه وشروطها.</p>
                <p>نشكر ثقتكم بنا.</p>
            }
            @else{
                <p>Last Updated: <strong>15/12/2024</strong></p>

                <p>Thank you for choosing Together for Intermediation Services LLC (Together for Development), we value your privacy and are committed to protecting your information. Please read this Privacy Policy carefully to understand how we collect, use, and safeguard the information you provide when using our website.</p>

                <div class="section-title">1.Information We Collect:</div>
                <p>We collect personal information when you register with us or make a purchase. This includes your name, address, email address, phone number, and payment details.</p>

                <div class="section-title">2.How We Use Your Information:</div>
                <p>We use the information we collect to facilitate the services you request, such as processing orders and providing technical support. Additionally, we may use your information to enhance our services and personalize your experience on the website.</p>

                <div class="section-title">3.Sharing Information with Third Parties:</div>
                <p>We do not sell or trade your information to third parties. However, we may share some information with partners who assist us in operating our website or delivering services to you, such as payment or shipping service providers or execution.</p>

                <div class="section-title">4.Maintaining Security:</div>
                <p>We take appropriate security measures to protect your personal information from unauthorized access, use, alteration, or disclosure.</p>

                <div class="section-title">5.Contact Us:</div>
                <p>If you have any questions about our Privacy Policy or how we handle your personal information, please contact us at: +962 779 400 900</p>

                <div class="section-title">6.Changes to the Privacy Policy:</div>
                <p>We reserve the right to update or change this Privacy Policy at any time. You should regularly review this page to stay informed about our latest privacy practices.</p>

                <p>By using our website, you agree to this Privacy Policy and its terms.</p>
                <p>Thank you for your trust in Together for Intermediation Services LLC (Together for Development).</p>
            }

        </div>
    </div>
</div>