.forget-password-container {
  max-width: 500px;
  margin-inline: auto;
  padding: 60px;
  box-shadow: 0px 0px 0px 4px #0000000D;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.title {
  font-size: 23px;
  margin-bottom: 5px;
}

.desc {
  font-size: 13px;
  margin-bottom: 35px;
}

.send-btn {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background: #FECD0F;
  border-radius: 15px;
  margin-bottom: 0px;
  margin-top: 35px;

  &:disabled {
    background: rgba(#FECD0F, 0.7);
  }
}

.have-account-txt {
  color: #000;
  font-size: 14px;

  a {
    text-decoration: none;
    color: inherit;
  }
}