<div class="forget-password-container mb-4">
  <h1 class="title text-center">{{ "forget password" | translate }}</h1>

  <p class="desc text-center">{{ "enter your registered email address, and we’ll send you a link to reset your password and regain access to your account" | translate }}</p>

  <app-basic-input
    [inputAttr]="{ id: 'email', name: 'email', label: 'e-mail', placeholder: 'enter your email', isRequired: true, icon: 'email'}"
    [value]="forgetPasswordForm.email.value"
    [errorMsg]="forgetPasswordForm.email.errorMsg"
    inputType="email"
    (valueChanged)="forgetPasswordForm.email.value = $event"
    (errorChanged)="emailErrorHandler($event)"
  />

  <button 
    class="send-btn w-100 text-center"
    (click)="send_reset()"
    [disabled]="!forgetPasswordForm.email.isValid || isLoading"
  >
      <img src="/app/assets/images/shared/loading.gif" alt="loading" [ngClass]="{'d-none': !isLoading}" style="width:25px;"/>
      {{ "send" | translate }}
  </button>
</div>

<app-modal [title]="'email sent successfully' | translate " [show]="show_success_popup" (valueEmitted)="closePopup($event)">
    <p>{{ "we have successfully sent a password reset link to your registered email address" | translate }}</p>
</app-modal>