<div class="contribution-history-container">
  <img class="thumbnail" src="https://placehold.co/148x112" alt="">

  <div class="subscription-info">
    <div class="project-header">
      <h3>Artesian well</h3>
    </div>

    <div class="project-price-with-certificate">
      <div class="item price">Total paid: $2500</div>

      <div class="item certificate">Download certificate</div>
    </div>

    <div class="project-info">
      100% of your loan supports borrowers — we never take a fee. As a nonprofit, we rely on donations to advance our mission of expanding financial access.
    </div>

    <div class="project-location-with-category">
      <div class="project-location">
        <img src="/app/assets/images/home/location.svg" alt="">
        
        <span>Gaza, Palestine</span>
      </div>

      <div class="project-category">
        <span>My Qibla</span>

        <img src="/app/assets/images/home/category-2.svg" alt="">
      </div>
    </div>

    <div class="selected-options">
      <div class="option">Cement</div>

      <div class="option">Electric pump</div>
    </div>

    <div class="dedication-names">
      <div class="dedication-name-container">
        <span class="dedication-name-title">Dedication name | 1</span>

        <div class="dedication-name-text">Ahmad mohammad al ahmad</div>
      </div>

      <div class="dedication-name-container">
        <span class="dedication-name-title">Dedication name | 1</span>
        
        <div class="dedication-name-text">Ahmad mohammad al ahmad</div>
      </div>

      <div class="dedication-name-container">
        <span class="dedication-name-title">Dedication name | 1</span>
        
        <div class="dedication-name-text">Ahmad mohammad al ahmad</div>
      </div>
    </div>
  </div>
</div>